* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header {
    height: 10vh;
    width: 100vw;
    background-color: rgba(145, 133, 133, 0.103);
    display: flex;
}

.header > ul {
    display: flex;
    list-style: none;
    align-self: center;
}

.header > ul > li {
    margin-left: 10px;
}

.header > ul > li:hover {
    color: rgba(0, 0, 0, 0.582);
}

.header > ul > li > a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 20px;
    text-align: center;
}

.contador {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 50px;
}

.acciones {
    display: flex;
    justify-content: center;
}


.button {
    margin: 0 5px;
    padding: 20px 30px;
    background-color: transparent;
    border-radius: 30px;
    border: none;
    color: rgb(95, 95, 95);
    cursor: pointer;
    font-size: large;
    transform: translateY(0px);
}

.button:hover {
    transition: ease-out 100ms;
    transform: translateY(-4px);
}

.button:active {
    background-color: rgb(198, 204, 204);
}

.contar {
    background-color: rgb(209, 247, 140);
}

.pausar {
    background-color: rgb(177, 215, 241);
}

.borrar {
    background-color: rgb(241, 171, 159);
}

.limpiar {
    background-color: rgb(231, 238, 135);
}

.historial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 630px) {
    .acciones {
        flex-wrap: wrap;
    }

    .button {
        width: 50%;
        margin-bottom: 10px;
    }

    .button:hover {
        transform: translateY(0px);
    }
}

@media (max-width: 340px) {
    .button {
        font-size: small;
    }
}